body {
    background-color: #0F5F60;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 17vh auto 25vh;
    justify-content: center;
}
#profileCard {
    height: 496px;
    width: 324px;
    background-color: white;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 38% 19% 30% 13%;
}

#profile {
    background-color: white;
    display: grid;
    grid-template-columns: 33% 51% 15%;
    grid-template-rows: 18% 48% 33%;
    justify-items: center;
    align-content: center;
}
img{
    border:5px green;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    object-fit: contain;
    grid-column: 2;
    grid-row: 2;
}
h1{
    font-size: 20px;
    grid-row: 3;
    grid-column: 2;
}
h2{
    font-size: 15px;
    color: gray;
    grid-column: 3;
    grid-row: 1;
    align-self: flex-end;
}
h3{
    font-size: 13px;
}
#rating {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#pricing {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact {
    background-color: #66D189;
    display: flex;
    justify-content: space-between;
    align-items: center;
}